#outerGameInterface, #endScreens, .endScreen, #pauseMenu {
  display: flex;
  height: 100vh;
  width: 100vw;
  background-color: mediumseagreen;
}

#pauseMenu {
    display: none;
    position: absolute;
    align-items: center;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    z-index: 10;
    background: rgba(0, 0, 0, 0);
    transition: filter 2s;
    height: fit-content;
    height: -moz-fit-content;
    width: fit-content;
    width: -moz-fit-content
}

.level-map {
    overflow: hidden;
    margin: auto;
    height: 90vh;
    width: 90vw;
    margin: auto;
    border: 0;
    background-color: rgb(247, 251, 255);
}

.btnGameInterface img {
  max-width: 75%;
  max-height: 75%;
}

#btnPause {
  position: absolute;
  left: 0.1vh;
  top: 0.1vh;
  background: #3D1E5C;
  border-radius: 50%;
  height: 5vh;
  width: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  align-content: center;
  cursor: pointer;
}

#playerHealthBarHeart {
  position: fixed;
  top: 0.7vh;
  left: 13.9vh;
  z-index: 1;
  height: 3.5vh;
  color: #c10606;
}

div#playerHealthBar {
  position: fixed;
  left: 16vh;
  background: darkgray;
  width: 11vh;
  top: 1vh;
  height: 3vh;
  display: flex;
  align-items: center;
}

#playerHealthBar div {
  background-color: red;
  position: absolute;
  width: 100%;
  height: 100%;
}
#playerHealthBar p {
  position: absolute;
  margin: 0;
  z-index: 1;
  width: 100%;
  text-align: center;
}