.bookshelf {
  position: absolute;
  top: 8.2vh;
}

#F5Bookshelf1 {
    top: 8.5vh;
    position: absolute;
    height: 75vh;
}

.shelf {
  display: flex;
  flex-direction: column;
  background-color: #ed9e00;
  background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
  /* This is mostly intended for prototyping. please download the pattern and re-host for production environments. Thank you! */
  padding: 10px;
  border: solid 0.3vh #fffa;
}
.shelf .book {
  border-style: solid;
  background: -webkit-repeating-linear-gradient(90deg, #fff, #efefef 1px, #ccc 1px, #ccc 2px);
}
.shelf .book.left {
  border-right-style: none;
}
.shelf .book.right, .shelf .book.top, .shelf .book.bottom {
  border-left-style: none;
}
.shelf .book.grey {
  border-color: #777;
}
.shelf .book.burgandy {
  border-color: #740000;
}
.shelf .book.brown {
  border-color: #8b4513;
}
.shelf .book.red {
  border-color: #BE1919;
}
.shelf .book.green {
  border-color: #327727;
}

#FloorFive .shelf .book {
  border-width: 1px;
  width: 24px;
}

.table.left {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 75vh;
  flex-wrap: nowrap;
  justify-content: space-between;
  bottom: 10vh;
  position: absolute;
}

.left .computer img {
  transform: rotate(90deg);
}

.computerMouse {
  width: 0.03vh;
  height: 0.2vh;
  background-color: #000;
  border-radius: 6px;
  transform: rotate(-90deg);
}

.staircase {
}

.staircase .stair {
    width: 1vh;
    height: 0.5vh;
    background-color: #59c2ef;
    border-radius: rgb(16, 15, 15) solid 0.1vh;
    transform: rotate(90deg);
}