.bookshelf {
	position: absolute;
	top: 8.2vh;
}
.shelf {
	display: flex;
	flex-direction: column;
	background-color: #ed9e00;
	background-image: url("https://www.transparenttextures.com/patterns/wood-pattern.png");
	/* This is mostly intended for prototyping; please download the pattern and re-host for production environments. Thank you! */
	padding: 10px;
	border: solid 0.3vh #fffa;
}

.book {
	border-style: solid;
	background: -webkit-repeating-linear-gradient(90deg, #fff, #efefef 1px, #ccc 1px, #ccc 2px);
}

.book.left {
	border-right-style: none;
}

.book.right, .book.top, .book.bottom {
	border-left-style: none;
}

.book.grey {
	border-color: #777;
}

.book.burgandy {
	border-color: #740000;
}

.book.brown {
	border-color: #8b4513;
}

.book.red {
	border-color: #BE1919;
}

.book.green {
	border-color: #327727;
}

#FloorFive .shelf .book {
	border-width: 1px;
	width: 24px;
}