.walled-room {
	border: 1pt solid #000000;
}

.wall {
	width: calc(100% - 10vw);
	height: 1pt;
	border-top: 1pt solid #000000;
	position: absolute;
}

#WallF5W1 {
	width: calc(90vw);
	/*height: 1pt;*/
	/*border: 1pt solid #000000;*/
	top: 8vh;
	left: 5vw;
}